# Enviroment variables needed to connect to the LiveKit server.
# Debt collection
LIVEKIT_URL=wss://quark-communic-debt-collection-sh5ji5p5.livekit.cloud
LIVEKIT_API_KEY=APIrBRKyVjmHJFa
LIVEKIT_API_SECRET=z6gqMS6sAtBzeoEFEdJ6v80AoqBp5ALfJGUClhE9tmi

# Agent dispatch (https://docs.livekit.io/agents/server/agent-dispatch)
# Leave AGENT_NAME blank to enable automatic dispatch
# Provide an agent name to enable explicit dispatch
AGENT_NAME=

# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=
